$('.row-header').on('click', function(){
					var _parent = $(this).parent();
					if(_parent.hasClass('down')){
						_parent.addClass('up').removeClass('down').find('tr').not('.row-header').slideRow('up',500);
					}
					else{
						_parent.addClass('down').removeClass('up').find('tr').not('.row-header').slideRow('down',500);
					}
				});
<script src="../static/js/jquery.sliderow.min.js"></script>

<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Hostname</th>
				<th>IP Address</th>
				<th>Mem. usage</th>
				<th>Actions</th>
			</tr>
		</thead>	
		{% for status in containers_all %}
			<tbody class="down table-servers">
				<tr class="row-header">
					<td colspan="5" class="label-{{ td[status.status|upper] }}">{{ status.status|capitalize }} Container(s)</td>
				</tr>
				{% for container in status.containers %}
					<tr class="{{ tr[status.status|upper] }}">
						<td><a href="{{ url_for('edit',container=container.name) }}" title="Click to edit {{container.name}}">{{container.name}}</a></td>
						<td>{{container.settings.utsname}}</td>
						<td>{% if container.settings.flags == 'up' %}{% if container.settings.ipv4 != '' %}{{container.settings.ipv4}}{% else %}Undefined{% endif %}{% elif container.settings.flags == 'down' %}Link Down{% endif %}</td>
						<td id="{{container.name}}">{{ render_memory_wrapper(container.memusg) }}</td>
						<td>
							<div class="btn-toolbar" style="margin:8px 0;">
								<div class="btn-group">
									{% set start_action = {'STOPPED':'start','FROZEN':'unfreeze'} %}
									<a class="btn btn-small {% if container.status == 'RUNNING' %}disabled{% endif %}" {% if container.status == 'STOPPED' or container.status == 'FROZEN' %}href="{{ url_for('action', name=container.name, action=start_action[container.status], token=session.token) }}"{% endif %}><i class="icon-play"></i> Start</a>
									<a class="btn btn-small {% if container.status == 'STOPPED' %}disabled{% endif %}" {% if container.status == 'RUNNING' or container.status == 'FROZEN' %}href="{{ url_for('action', name=container.name, action='stop', token=session.token) }}"{% endif %}><i class="icon-stop"></i> Stop</a>
									<a class="btn btn-small {% if container.status == 'FROZEN' or container.status == 'STOPPED' %}disabled{% endif %}" {% if container.status == 'RUNNING' %}href="{{ url_for('action', name=container.name, action='freeze', token=session.token) }}"{% endif %}><i class="icon-pause"></i> Freeze</a>
								</div>
								{% if session.su == 'Yes' %}<a class="pull-right close destroy" data-container-name="{{container.name}}" style="margin-top:4px;"><i class="icon-remove-sign"></i></a>{% endif %}
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		{% endfor %}
	</table>