{% set td = {'RUNNING':'success','FROZEN':'info','STOPPED':'important'} %}
{% set tr = {'RUNNING':'success','FROZEN':'info','STOPPED':'error'} %}
{% set disabled = {'RUNNING':'success','FROZEN':'info','STOPPED':'important'} %}
{% extends "layout.html" %}
{% block title %}Overview{% endblock %}
{% block content %}
<div class="span9">
	{{ super() }}
	{% if session.su == 'Yes' %}<p class="pull-right" style="margin:10px 10px 0 0;"><a class="btn btn-small btn-danger" data-toggle="modal" data-target="#reboot"><i class="icon-off icon-white"></i> Reboot</a></p>
	{% if containers != [] %}<p class="pull-right" style="margin:10px 10px 0 0;"><a class="btn btn-small btn-inverse" data-toggle="modal" data-target="#cloneCT"> <i class="icon-repeat icon-white"></i> Clone <abbr title="Container">CT</abbr></a></p>{% endif %}
	<p class="pull-right" style="margin:10px 10px 0 0;"><a class="btn btn-small btn-success" data-toggle="modal" data-target="#createCT"><i class="icon-plus-sign icon-white"></i> Create <abbr title="Container">CT</abbr></a></p>{% endif %}

	<div id="host-area" class="hero-unit">
		{% if dist == 'Unknown' %}<div class="alert alert-error">LXC Web Panel is optimized for Ubuntu 12.10 !</div>{% endif %}
		<div class="row">
			<div class="span3" style="margin-left:20px;">
				<h3>{{ dist }} (host)</h3>
				<p>CPU usage : <span id="cpu-usage" class="hide"></span></p>
				<div class="progress" style="width:250px;">
					<div class="bar" id="cpu-usage-bar" style="width:0%;"></div>
				</div>
				<p>Memory usage : <span id="memory-usage" class="hide"></span></p>
				<div class="progress" style="width:250px;">
					<div class="bar" id="memory-usage-bar" style="width: 0%;"></div>
					<abbr title="Cached memory"><span class="bar bar-success" id="memory-cache-usage-bar" style="width: 0%;"></span></abbr>
				</div>
			</div>
			<div class="span3" style="margin-top: -30px; margin-left:20px;">
                <h3>&nbsp;</h3><!-- Vertical align -->
				<p>Disk usage : <span id="disk-usage" class="hide"></span></p>
				<div class="progress" style="width:250px;">
					<div class="bar" id="disk-usage-bar" style="width: 0%;"></div>
				</div>
				<p>Uptime : <span id="uptime" class="hide"></span></p>
			</div>
		</div>
        {% if lvm and lvm.vgs %}
		<div class="row">
			<div class="span3" style="margin-left:20px;">
                <h3>LVM</h3>
			</div>

			<div class="span3" style="margin-left:20px;">
                {% for vg in lvm.vgs %}

                <h4>{{ vg.name }}</h4>
				<p>Usage: <span id="lvm-usage-{{ vg.name }}" class="hide">{{ vg.used }} of {{ vg.total }} {{ vg.unit }}</span></p>
				<div class="progress" style="width:250px;">
					<div class="bar" id="lvm-usage-bar-{{ vg.name }}" style="width: {{ vg.percent }};"></div>
				</div>

                {% endfor %}
			</div>

		</div>
        {% endif %}
	</div>
    <table id="containers-area" class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        {% for status in containers_all %}
            {% set container_status = status.status|upper %}
            <tr>
                <td colspan="7">
                    <h4><span class="label label-{{ td[container_status] }}">{{ status.status|capitalize }}</span></h4>
                </td>
            </tr>
            <tr>
                <th>Name</th>
                <th>Hostname</th>
                <th>IP Address</th>
                <th>CPU usage</th>
                <th>Mem. usage</th>
                <th>Disk usage</th>
                <th>Actions</th>
            </tr>
            {% for container in status.containers %}
                <tr class="{{ tr[container_status] }}">
                    <td><a href="{{ url_for('edit',container=container.name) }}" title="Click to edit {{container.name}}">{{container.name}}</a></td>
                    <td>{{container.settings.utsname}}</td>
                    <td>{% if container.settings.flags == 'up' %}{% if container.settings.ipv4 != '' %}{{container.settings.ipv4}}{% else %}Undefined{% endif %}{% elif container.settings.flags == 'down' %}Link Down{% endif %}</td>
                    <td id="cpu_{{container.name}}">
                        <span class="label label-success"></span>
                    </td>
                    <td id="{{container.name}}">{{ render_memory_wrapper(container.memusg, container.max_memusg) }}</td>
                    <td id="disk_{{container.name}}">
                        <span class="label label-success"></span>
                    </td>
                    <td>
                        <div class="btn-toolbar" style="margin:8px 0;">
                            <div class="btn-group">
                                {% set start_action = {'STOPPED':'start','FROZEN':'unfreeze'} %}
                                <a class="btn btn-small {% if container_status == 'RUNNING' %}disabled{% endif %}" {% if container_status == 'STOPPED' or container_status == 'FROZEN' %}href="{{ url_for('action', name=container.name, action=start_action[container_status], token=session.token) }}"{% endif %}><i class="icon-play"></i> Start</a>
                                <a class="btn btn-small {% if container_status == 'STOPPED' %}disabled{% endif %}" {% if container_status == 'RUNNING' or container_status == 'FROZEN' %}href="{{ url_for('action', name=container.name, action='stop', token=session.token) }}"{% endif %}><i class="icon-stop"></i> Stop</a>
                                <a class="btn btn-small {% if container_status == 'FROZEN' or container_status == 'STOPPED' %}disabled{% endif %}" {% if container_status == 'RUNNING' %}href="{{ url_for('action', name=container.name, action='freeze', token=session.token) }}"{% endif %}><i class="icon-pause"></i> Freeze</a>
                            </div>
                            {% if session.su == 'Yes' %}<a class="pull-right close destroy" data-container-name="{{container.name}}" style="margin-top:4px;"><i class="icon-remove-sign"></i></a>{% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% if session.su == 'Yes' %}
	{% include "includes/modal_reboot.html" %}
	{% include "includes/modal_create.html" %}

	{% if containers != [] %}
		{% include "includes/modal_clone.html" %}
		{% include "includes/modal_destroy.html" %}
	{% endif %}
{% endif %}

{% endblock %}

{% macro memory_color(value, max) -%}{% if value != 0 %}{% if 0 <= value < max*0.8 %}success{% elif max*0.8 <= value < max*0.9 %}warning{% else %}important{% endif %}{% endif %}{%- endmacro %}
{% macro render_memory_wrapper(value, max) -%}
	{% if value != 0 %}<span class="label label-{{ memory_color(value, max) }}">{{ value }} of {{max}} MB</span>{% endif %}
{%- endmacro %}

{% block script %}
<script src="/static/js/bootstrapSwitch.js"></script>
<script src="/static/js/colors.js"></script>
<script src="/static/js/update-indicator.js"></script>
<script src="/static/js/index.js"></script>
<script type="text/javascript">

LWP.UI.IndexPage.init({
    su: '{{ session.su }}',
    token: '{{ session.token }}',
    scriptRoot: $SCRIPT_ROOT,
    containersCount: {{ containers|length }}
});

</script>
{% endblock %}