{% extends "layout.html" %}
{% block title %}Overview{% endblock %}
{% block content %}
<div class="span9">
	{{ super() }}
	{% if session.su == 'Yes' %}<p class="pull-right" style="margin:10px 10px 0 0;"><a class="btn btn-small btn-warning" data-toggle="modal" data-target="#reboot"><i class="icon-repeat icon-white"></i> Reboot</a></p>
    <p class="pull-right" style="margin:10px 10px 0 0;"><a class="btn btn-small btn-danger" data-toggle="modal" data-target="#shutdown"><i class="icon-off icon-white"></i> Shutdown</a></p>
	{% if containers != [] %}<p class="pull-right" style="margin:10px 10px 0 0;"><a class="btn btn-small btn-inverse" data-toggle="modal" data-target="#cloneCT"> <i class="icon-repeat icon-white"></i> Clone <abbr title="Container">CT</abbr></a></p>{% endif %}
	<p class="pull-right" style="margin:10px 10px 0 0;"><a class="btn btn-small btn-success" data-toggle="modal" data-target="#createCT"><i class="icon-plus-sign icon-white"></i> Create <abbr title="Container">CT</abbr></a></p>{% endif %}
	<h3 class="sup">{{ system_version }} (host)</h3>
    <div class="clearfix"></div>

	<div id="host-area" class="hero-unit">
		{% if dist == 'Unknown' %}<div class="alert alert-error">LXC Web Panel is optimized for Ubuntu 14.04 !</div>{% endif %}
		<div class="row">
			<div class="span3" style="margin-left:20px;">
				<p>CPU usage : <span id="cpu-usage" class="hide"></span></p>
				<div class="progress" style="width:250px;">
					<div class="bar" id="cpu-usage-bar" style="width:0%;"></div>
				</div>
				<p>Memory usage : <span id="memory-usage" class="hide"></span></p>
				<div class="progress" style="width:250px;">
					<div class="bar" id="memory-usage-bar" style="width: 0%;"></div>
					<abbr title="Cached memory"><span class="bar bar-success" id="memory-cache-usage-bar" style="width: 0%;"></span></abbr>
				</div>
			</div>
			<div class="span3" style="margin-top: -30px; margin-left:20px;">
                <h3>&nbsp;</h3><!-- Vertical align -->
				<p>Disk usage : <span id="disk-usage" class="hide"></span></p>
				<div class="progress" style="width:250px;">
					<div class="bar" id="disk-usage-bar" style="width: 0%;"></div>
				</div>
				<p>Uptime : <span id="uptime" class="hide"></span></p>
			</div>
		</div>
        {% if lvm and lvm.vgs %}
		<div class="row">
			<div class="span3" style="margin-left:20px;">
                <h3>LVM</h3>
			</div>

			<div class="span3" style="margin-left:20px;">
                {% for vg in lvm.vgs %}

                <h4>{{ vg.name }}</h4>
				<p>Usage: <span id="lvm-usage-{{ vg.name }}" class="hide">{{ vg.used }} of {{ vg.total }} {{ vg.unit }}</span></p>
				<div class="progress" style="width:250px;">
					<div class="bar" id="lvm-usage-bar-{{ vg.name }}" style="width: {{ vg.percent }};"></div>
				</div>

                {% endfor %}
			</div>

		</div>
        {% endif %}
	</div>

    <div id="containers-placeholder"></div>

</div>
{% if session.su == 'Yes' %}
	{% include "includes/modal_reboot.html" %}
	{% include "includes/modal_shutdown.html" %}
	{% include "includes/modal_create.html" %}

	{% if containers != [] %}
		{% include "includes/modal_clone.html" %}
		{% include "includes/modal_destroy.html" %}
	{% endif %}
{% endif %}

{% endblock %}

{% block script %}
<script src="/static/js/bootstrapSwitch.js"></script>
<script src="/static/js/colors.js"></script>
<script src="/static/js/update-indicator.js"></script>
<script src="/static/js/index.js"></script>
<script type="text/javascript">

LWP.UI.IndexPage.init({
    su: '{{ session.su }}',
    token: '{{ session.token }}',
    scriptRoot: $SCRIPT_ROOT
});

</script>
{% endblock %}